requests
beautifulsoup4
# for auto complete
argcomplete

# Needed for mangaplus
pure_protobuf
Unidecode

# Needed for Viz
Pillow

# Needed for Crunchyroll
pycryptodome
m3u8
dataclasses

selenium[browser]
