requests
# needed for many servers including Funimation and Viz
beautifulsoup4
# for auto complete
argcomplete

# Needed for Viz
Pillow

# Needed for downloading Crunchyroll Anime
m3u8

# Needed for a good experience with Funimation
selenium[browser]
